.App {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.input_field {
    width: 50vw;
    text-align: center;
}

.RGB-box {
    background-color: coral;
    width: 51vw;
}